.env
venv/
.venv/
.venv

# Ignorar todos los md y html de la carpeta "Base de datos_Cosmere"
Base de datos_Cosmere/*.md
Base de datos_Cosmere/*.html
# Ignorar todos los md, html, docx y pdf de la carpeta "Base de datos"
Base de datos RAG general/*.md
Base de datos RAG general/*.html
Base de datos RAG general/*.docx
Base de datos RAG general/*.pdf
# Ignorar todos los md de la carpeta "Base de datos/Markdowns convertidos"
Base de datos RAG general/Markdowns convertidos/*.md

# Ignorar todos los .pkl
*.pkl
# Ignorar todos los .xlsx
*.xlsx